spring-debug/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.fync.com/schema/user"
			xmlns:tns="http://www.fync.com/schema/user"
			elementFormDefault="qualified">

	<xsd:element name="user">
		<xsd:complexType>
			<!-- 要有ID 要不然报错-->
			<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="username" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="email" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="password" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>